<h2>How to submit</h2>

<div class="row">
  <div class="col-sm-6">
    <h3>Option 1:</h3>
    <p>(If you know how to use github)</p>
    <a class="btn btn-default btn-lg" href="https://github.com/Louisville-Resist/Louisville-Resist.github.io">Submit a pull request</a>
  </div>

  <div class="col-sm-6">
    <h3>Option 2:</h3>
    <a class="btn btn-default btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSd_XBKIqBLq8ke4MrFjARRvDzal-i_1w3l1aybZxoE6tHF7tA/viewform">Google form</a>
  </div>

</div>