<h2>How to submit</h2>

<div class="row">
  <div class="col-sm-6">
    <h3>Option 1</h3>
    <p>(If you know hot to use github)</p>
    <ul>
      <li>Submit a pull request to this repo: </li>
    </ul>
  </div>

  <div class="col-sm-6">
    <h3>Option 2</h3>
    <ul>
      <li>Use this <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_XBKIqBLq8ke4MrFjARRvDzal-i_1w3l1aybZxoE6tHF7tA/viewform" target="_blank">Google form</a></li>
    </ul>
  </div>

</div>